@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-sm: 30rem; /* 480px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-inter);
  --font-body: var(--font-dm-sans);
  --font-mono: var(--font-ibm-plex-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-dm-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-inter);
  }

  p {
    font-family: var(--font-dm-sans);
  }
}

@layer components {
  .strikethrough::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: -10;
  }

  .glassmorph {
    /* From https://css.glass */
    div {
      background: rgba(211, 211, 211, 0.35);
    }
  }
}
